@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

.Create {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.Create-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.Create-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Create-2 img {
  width: 70%;
  height: 70%;
}

form {
  margin-top: 5em;
}

.Form-group {
  display: flex;
  flex-direction: column;
}

.Form-group label {
  margin-bottom: 1em;
  font-family: 'Reggae One', cursive;
  color: #6b705c;
}

.Form-group input {
  margin-bottom: 1em;
  padding: 1em;
  width: 30em;
  outline: none;
  border: none;
}

.Form-group textarea {
  margin-bottom: 1em;
  padding: 1em;
  width: 30em;
  height: 10em;
  outline: none;
  border: none;
}

#submit {
  padding: 0.5em;
  border: none;
  outline: none;
  width: 30%;
  background-color: #6b705c;
}
